{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<form action="{{url_for('admin_pages.register')}}" method=post name="register">
    {{form.hidden_tag()}}
    <dl>
    	{{ render_field(form.username) }}
    	{{ render_field(form.password) }}
    	{{ render_field(form.confirm) }}
    	{{ render_field(form.email) }}
    	{{ render_field(form.vorname) }}
    	{{ render_field(form.nachname) }}
    </dl>
    <p><input type="submit" value="Registrieren"></p>
</form>
{% endblock %}

